p{
  padding: 5px;
  margin: 5px; 
  background: white;
}

.form-group {
  margin-bottom: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:auto;
}
h3 {
  text-align: center;
}
body{
  background: #e7caa3;

}
span{
background-color: #e7caa3;
  border: 5px solid#e7caa3;
 

}
span:hover{
  color: blue;
}
© 2020 GitHub, Inc.