<li>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
		<p>{{burger_name}}</p>
	</div>
		<div class="col-sm">
	<span class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoure}}">
		{{#if devoure}}Devour It!{{/if}}
	</span>
	</div>

		</div>

	</div>
	

	
	
</li>